html,body{
	width: 100%;
}
.container{
	width: 100%;
	position:relative;
	padding:0;

}
.container .nav{
    position:fixed;
	top:0;
	left:0;
	z-index: 10000;
}
.container .nav ul{

	/*background: gray;*/
	/*background: rgba(1,1,1,.5);*/


}
.container .nav ul li{



	padding:25%  10px;
}
.container .nav ul li a{

	display: block;

	width: 50px;
	height: 50px;
	border-radius: 50%;
	background:#6468A8;
	opacity:.8;
	box-shadow: 3px 3px 5px #416484,-3px -3px 5px #416484;
	text-align: center;
	line-height: 50px;
	color: white;

}
.container .content {
       width: 100%;
	   padding-left:60px;
}
.container .content  .item1 img{
	width: 100%;
}
.mask{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.8);

	position:absolute;
	top:0;
	left:55px;
	z-index: 1000;
}
.mask-box{
	width: 100%;
	height: 150%;
	background: rgba(0,0,0,.8);
	position:absolute;
	top:0;
	left:0;
}

.view{
	width: 100%;
	height:100%;
}



@keyframes  anim1{
	 0%{
		 width: 0;
		 opacity:0.3;
	 }
	100%{
		width: 500px;
		opacity:1;
	}
}
.box-text{

	height:53px;
	position:absolute;
	top:8%;
	left:10%;
	font-size: 36px;
	overflow: hidden;
	color: white;
	animation:anim1 5s 0s 1;
	z-index: 1000;

}

/*@keyframes  mask-anim{*/
	/*0%{*/
		/*width: 0;*/
		/*opacity:0.3;*/
	/*}*/
	/*100%{*/
		/*width: 500px;*/
		/*opacity:1;*/
	/*}*/
/*}*/
/*.mask-anim{*/
	/*height:53px;*/
	/*position:absolute;*/
	/*top:10%;*/
	/*left:10%;*/
	/*font-size: 36px;*/
	/*overflow: hidden;*/
	/*color: #000;*/
	/*animation:mask-anim 3s 0s 1;*/
/*}*/



/*my01模块*/
.item1{
	width: 100%;
	height:100%;
	background: linear-gradient(#FFCC00 0%, mediumblue 80%);

}

@keyframes rotate{
	0%{
		transform:rotateX(0deg) rotateY(0deg);
	}
	100%{
		transform:rotateX(360deg) rotateY(360deg);
	}
}

.wrap{
	margin-top: 150px;
	perspective:1000px;
	position:absolute;
	top:15%;
	left:60%;
}
.cube{
	margin:auto;
	width: 200px;
	height: 200px;
	position: relative;
	transform-style: preserve-3d; /* flat */
	/* transform:rotateX(-30deg) rotateY(-70deg); */
	animation:rotate 20s infinite linear;
}
.cube > div{
	width: 100%;
	height: 100%;
	position: absolute;

	opacity: .9;
	border:1px #fff solid;
	color: #fff;
	font-size: 36px;
	font-family: "Microsoft Yahei";
	font-weight: bold;
	text-align: center;
	line-height: 200px;
	transition: transform .2s ease-in;
}
.cube .out-front{
	transform: translateZ(100px);
	background-color: darkorange;
}
.cube .out-back{
	transform: translateZ(-100px) rotateY(180deg);
	background-color: darkturquoise;
}
.cube .out-left{
	transform:rotateY(90deg) translateZ(100px);
	background-color: navy;
}
.cube .out-right{
	transform:rotateY(-90deg) translateZ(100px);
	background-color: hotpink;
}
.cube .out-top{
	transform:rotateX(90deg) translateZ(100px);
	background-color: darkviolet;
}
.cube .out-bottom{
	transform:rotateX(-90deg) translateZ(100px);
	background-color: lime;
}

.cube > span{
	display: block;
	width: 100px;
	height: 100px;
	border:1px #000 solid;
	background-color: #999;
	position: absolute;
	top: 50px;
	left: 50px;
	opacity:.3;
}
.cube .in-front{
	transform: translateZ(50px);
}
.cube .in-back{
	transform: translateZ(-50px) rotateY(180deg);
}
.cube .in-left{
	transform:rotateY(90deg) translateZ(50px);
}
.cube .in-right{
	transform:rotateY(-90deg) translateZ(50px);
}
.cube .in-top{
	transform:rotateX(90deg) translateZ(50px);
}
.cube .in-bottom{
	transform:rotateX(-90deg) translateZ(50px);
}

.wrap:hover .out-front{
	transform: translateZ(200px);
}
.wrap:hover .out-back{
	transform: translateZ(-200px) rotateY(180deg);
}
.wrap:hover .out-left{
	transform:rotateY(90deg) translateZ(200px);
}
.wrap:hover .out-right{
	transform:rotateY(-90deg) translateZ(200px);
}
.wrap:hover .out-top{
	transform:rotateX(90deg) translateZ(200px);
}
.wrap:hover .out-bottom{
	transform:rotateX(-90deg) translateZ(200px);
}



/*my02模块*/
.item2{
	width: 100%;
	height:100%;
	/*background: url(../images/timg3.jpg) no-repeat center;*/
	/*padding-top:5%;*/
	padding-left:5%;
	background: rgba(0,0,0,.7);


}



.wrap1{
	width:1200px;
	padding-top:10%;

}
.slide {
	height:500px;
	position: relative;
}
.slide li{
	position: absolute;
	left:200px;
	top:0;
	height:400px;
	font-size:30px;
	font-weight:700;
	text-align: center;
	line-height: 400px;
     opacity:.9;
	overflow:hidden;

}
.slide li a{
	color: #fff;
}

.slide li:nth-child(1){
	background: green;
}
.slide li:nth-child(2){
	background: red;
}
.slide li:nth-child(3){
	background: deepskyblue;
}
.slide li:nth-child(4){
	background: yellow;
}
.slide li:nth-child(5){
	background: darkmagenta;
}
.slide li:nth-child(6){
	background: mediumspringgreen;
}

/*.slide li img{*/
	/*width:100%;*/
/*}*/

.arrow{
	width: 100%;
	opacity: 0;
}
.prev,.next{
	width:76px;
	height:112px;
	position: absolute;
	top:50%;
	margin-top:-56px;
	background: url(../images/prev.png) no-repeat;
	z-index: 99;
}
.next{
	right:10%;
	background-image: url(../images/next.png);
}


/*my03模块*/
.item3 {

	width: 100%;
	height: 100%;
	background: url(../images/timg3.jpg) no-repeat center;

}
.enlarge {
	width: 350px;
	height: 220px;

	border: 1px solid #ccc;
	position: relative;
	top:20%;
	left:10%;
}

.big {
	width: 700px;
	height: 440px;
	position: absolute;
	top: 0;
	left: 360px;
	border: 1px solid #ccc;
	overflow: hidden;
	display: none;
}

.masks {
	width: 30px;
	height: 20px;
	background: rgba(255, 255, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
	display: none;
}

.small {
	position: relative;
}

.box img {
	vertical-align: top;
}

#bigBox img {
position: absolute;
}




/*my04模块*/
.item4 {

	width: 100%;
	height:100%;
	background: url(../images/timg4.jpg) no-repeat center;
	padding-top:3%;
}

/*#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}*/
#allmap{
width: 800px ;
	height:600px ;
	margin:0 auto;

}
/*my05模块*/


.item1 .img-05{

	width: 100%;
	height:100%;
	/*background: url(../images/timg5.jpg) no-repeat center;*/
	/*background-size: 1366px 768px;*/
}
.head{
	display: block;
	width: 100%;
	height: 70%;
	background: url("../images/01.png");
	background-size: 100% 100%;
}

/*content begin*/
.ccontent{
	width: 100%;
	position: relative;
	font-size: 18px;
}
.content1{
	background: url("../images/03.gif");

}
.content2{
	background: url("../images/04.gif");
}
.content3{
	background: url("../images/05.gif");
}
.content1,.content2,.content3{
	background-size: 100% 100%;
	height: 35%;
	width: 100%;
	min-height: 341px;
	min-width: 1000px;
	position: relative;
}
.content1 div{
	position: absolute;
	top: 25%;
	left: 20%;
}
.content2 div,.content3 div{
	position: absolute;
	top: 20%;
	left: 20%;
}
.butt{
	position: absolute;
	right: 20%;
	top: 76%;
	width: 107px;
	height: 45px;
	background: #A30000;
	color: white;
	border-radius: 5px;
}
/*content end*/

/*summary begin*/
.summary{
	width: 100%;
	height: 510px;
	background: #7B6955;
	background: url("../images/z1.gif") no-repeat;
	background-size:100% 100% ;
	position: relative;
}
.centr{
	width: 60%;
	height: 33%;
	margin: 0 auto;
	position: absolute;
	top:66%;
	left: 20%;
}
.centr div{
	height: 100%;
	width: 30%;
	position: absolute;
}
.centr1{
	top: -20%;
	left: 2%;
}
.centr2{
	top: -20%;
	left: 37%;
}
.centr3{
	top: -20%;
	left: 72%;
}
.centr1 div:nth-child(1),.centr2 div:nth-child(1),.centr3 div:nth-child(1){
	width: 80%;
	height: 40%;
	position: relative;
	left: 10%;
	text-align: center;
	color: white;
	font-size: 30px;
}
.centr1 div:nth-child(1){
	background:#F35B4D ;
}
.centr2 div:nth-child(1){
	background:#FF6F21 ;
}
.centr3 div:nth-child(1){
	background:#61339F ;
}
.centr1 div:nth-child(2),.centr2 div:nth-child(2),.centr3 div:nth-child(2){
	background:white ;
	width: 100%;
	height: 80%;
	text-align: center;
}
.centr input{
	width: 42%;
	height: 28%;
	border-radius: 15px;
	background: #F35B4D;
	color: red;
}
/*summary end*/

/*site begin*/
.site{
	width: 100%;
	height: 365px;
	background: url("../images/w1.gif") no-repeat;
	background-size:100% 100%;
	position: relative;
}
.site input{
	position: absolute;
	top: 83%;
	left: 45%;
	width: 11%;
	height: 7%;
	background: #A30000;
	color: white;
	border-radius: 8px;
}
.site ul{
	position: absolute;
	top: 95%;
	left: 55%;
	min-width: 425px;
}
.site ul li{
	float: left;
	margin-right: 20px;
	font-weight: 800;
}
.site ul li a{
	color: black;
}
/*site end*/

/*base begin*/
.base{
	width: 100%;
	height: 250px;
	background: url("../images/j1.gif") no-repeat;
	background-size:100% 100% ;
	position: relative;
}
.base input{
	width: 11%;
	height: 18%;
	position: absolute;
	top: 62%;
	left: 45%;
	border-radius: 20px;
	background: #7B6A56;
	color: white;
	border: none;
}
/*base end*/


/*移动端*/
.xhead{
	width: 100%;
	height: 40%;
	background: url("../images/x1.gif") no-repeat;
	background-size: 100% 100%;
}
.show{
	width: 100%;
	height: 50%;
	background: url("../images/x2.gif") no-repeat;
	background-size: 100% 100%;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	position: relative;
}
.show b{
	line-height: 60px;
}
.show input{
	position: absolute;
	top: 73%;
	left: 36%;
	background: #A30000;
	color: white;
	width: 26%;
	height: 17%;
	border-radius: 10px;
}
.shows{
	width: 100%;
	height: 200%;
	background: url("../images/x3.gif") no-repeat;
	background-size: 100% 100%;
}
.showe{
	width: 100%;
	height: 70%;
	background: url("../images/x4.gif") no-repeat;
	background-size: 100% 100%;
}
/*waterfull模块*/
 .water-full.wrapper {
	padding: 0 0 0 35px ;
}



.water-full .items {
	position: relative;
}

.water-full  .item {
	/*定宽*/
	width: 228px;
	/*设置定位方式*/
	position: absolute;
}

.water-full.wrapper img {
	display: block;
	width: 100%;
	z-index: 10;
}

.water-full.wrapper .item:hover img{
	width: 110%;
    transform:translateX(-5%);
	opacity: .7;
	transition:all 1s;
	z-index: 10000;

}


/*fullpage  模块*/

 body,html,header,section,div,ul,li,div,a,p,h1{ padding:0; margin:0; font-family:"微软雅黑"}
li{ list-style:none;}
a{ text-decoration:none;}

/*头部区域*/
.hd{ width:100%; height:60px; background:rgba(0,0,0,0.8);
	position:fixed; top:0; left:0; z-index:1;margin-left: 60px;}
.hd .inner{ width:980px; height:60px; margin:0 auto;}
.hd .logo{ float:left; margin-top:16px; margin-right:20px;}
.hd nav{ float:left;}
.hd nav li{ float:left;}
.hd nav li a{ line-height:60px; display:block; padding:0 20px; color:#fff;}
.hd nav li a:hover,.hd nav li.active a{ background:#FC0; color:rgba(0,0,0,0.8)}




/*第一页*/
.s1{ background:url('../../fullpage-exzample/images/s1.jpg') center; overflow:hidden;}
.s1 img{ position:absolute; top:50%; left:50%; margin-left:-545px; margin-top:-230px; opacity:0; transition:0.5s; transition-delay:0.8s;}
.s1.active img{ opacity:1}


/*公共类*/
.section{ height:100%; overflow:hidden;}
.section .left{ position:absolute;left:5%; top:50%; margin-top:-200px; z-index:2 }
.section .left li{ float:left; margin-right:20px; transition:0.5s;}
.section .left li p{ font-size:18px; color:#333; margin:20px 0; }
.section .left li a{ width:98px; height:36px; background:url('../../fullpage-exzample/images/buy.jpg'); display:block;}

.section .right{ position:absolute;  right:5%; top:15%; text-align:right; z-index:3}
.section .right h1{ font-size:34px; color:#333; font-weight:100;}
.section .right p{ font-size:18px; color:#333; line-height:1.5em;margin-top:20px; margin-bottom:10px; }
.section .right a{ color:#333;  text-decoration:underline;}
.section .right a:hover{ text-decoration:none;}
.section .bg{ position:absolute; right:0; bottom:0; z-index:1}


/*第二页*/
.s2{ background:url('../../fullpage-exzample/images/s2.jpg') center}
.s2 .left li{-webkit-transform:translateY(1000px); transform:translateY(1000px);}
.s2 .left li:nth-child(1){ transition-delay:0.8s;}
.s2 .left li:nth-child(2){ transition-delay:1s;}
.s2 .left li:nth-child(3){ transition-delay:1.2s;}
.s2.active .left li{-webkit-transform:translateY(0); transform:translateY(0)}


.s3{ background:url('../../fullpage-exzample/images/s3.jpg') center}
.s3 .left li{ transition-delay:0.8s;}
.s3 .left li:nth-child(1){ -webkit-transform:translateX(0);transform:translateX(0)}
.s3 .left li:nth-child(2){ -webkit-transform:translateX(-279px);transform:translateX(-279px)}
.s3 .left li:nth-child(3){ -webkit-transform:translateX(-558px);transform:translateX(-558px)}
.s3.active .left li{ -webkit-transform:translateX(0);transform:translateX(0)}


@-webkit-keyframes move1{
	0%{ -webkit-transform:translate(330px,-1000px); transform:translate(330px,-1000px)}
	20%{ -webkit-transform:translate(330px,0px); transform:translate(330px,0px)}
	40%{ -webkit-transform:translate(330px,-50px);transform:translate(330px,-50px)}
	60%{ -webkit-transform:translate(330px,0px);transform:translate(330px,0px)}
	100%{-webkit-transform:translate(0px,0px);transform:translate(330px,0px)}
}
@keyframes move1{
	0%{ transform:translate(330px,-1000px)}
	20%{ transform:translate(330px,0px)}
	40%{ transform:translate(330px,-50px)}
	60%{ transform:translate(330px,0px)}
	100%{ transform:translate(0px,0px)}
}

@-webkit-keyframes move2{
	0%{ -webkit-transform:translate(0px,-1000px);transform:translate(0px,-1000px)}
	20%{ -webkit-transform:translate(0px,0px);transform:translate(0px,0px)}
	40%{ -webkit-transform:translate(0px,-50px);transform:translate(0px,-50px)}
	60%{ -webkit-transform:translate(0px,0px);transform:translate(0px,0px)}
	100%{ -webkit-transform:translate(0px,0px);transform:translate(0px,0px)}
}
@keyframes move2{
	0%{ transform:translate(0px,-1000px)}
	20%{ transform:translate(0px,0px)}
	40%{ transform:translate(0px,-50px)}
	60%{ transform:translate(0px,0px)}
	100%{ transform:translate(0px,0px)}
}


@-webkit-keyframes move3{
	0%{ -webkit-transform:translate(-330px,-1000px); transform:translate(-330px,-1000px)}
	20%{ -webkit-transform:translate(-330px,0px);transform:translate(-330px,0px)}
	40%{ -webkit-transform:translate(-330px,-50px);transform:translate(-330px,-50px)}
	60%{ -webkit-transform:translate(-330px,0px);transform:translate(-330px,0px)}
	100%{ -webkit-transform:translate(0px,0px) ;transform:translate(0px,0px)}
}
@keyframes move3{
	0%{ transform:translate(-330px,-1000px)}
	20%{ transform:translate(-330px,0px)}
	40%{ transform:translate(-330px,-50px)}
	60%{ transform:translate(-330px,0px)}
	100%{ transform:translate(0px,0px)}
}




.s4{ background:url('../../fullpage-exzample/images/s4.jpg') center}
.s4 .left li:nth-child(1){-webkit-transform:translate(330px,-1000px); transform:translate(330px,-1000px)}
.s4.active .left li:nth-child(1){ -webkit-animation:move1 2s 0.8s forwards; animation:move1 2s 0.8s forwards}

.s4 .left li:nth-child(2){-webkit-transform:translate(0px,-1000px);transform:translate(0px,-1000px)}
.s4.active .left li:nth-child(2){ -webkit-animation:move2 2s 0.8s forwards; animation:move2 2s 0.8s forwards}

.s4 .left li:nth-child(3){-webkit-transform:translate(-330px,-1000px);transform:translate(-330px,-1000px)}
.s4.active .left li:nth-child(3){ -webkit-animation:move3 2s 0.8s forwards;animation:move3 2s 0.8s forwards}


.s5{ background:url('../../fullpage-exzample/images/s5.jpg') center; perspective:500px;}
.s5 .left li{ transform:translate3d(-1000px,-1000px,-500px) rotateX(145deg); }
.s5 .left li:nth-child(1){transition-delay:0.8s;}
.s5 .left li:nth-child(2){transition-delay:1s;}
.s5 .left li:nth-child(3){transition-delay:1.2s;}

.s5.active .left li{ transform:translate3d(0,0,0px) rotateX(0deg)}


